<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhazha.cqhttp.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.zhazha.cqhttp.bean.User">
        <!--@mbg.generated-->
        <!--@Table "user"-->
        <id column="qq" jdbcType="VARCHAR" property="qq"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="create_qq" jdbcType="VARCHAR" property="createQq"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        qq,
        "name",
        create_qq,
        "type"
    </sql>
</mapper>